
<html>
	<head>
		<title>COVID-19 TWEET ANALYZER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">
		<script src="../static/assets/js/jquery.min.js"></script>
		<script src="../static/assets/js/jquery.scrolly.min.js"></script>
		<script src="../static/assets/js/jquery.scrollex.min.js"></script>
		<script src="../static/assets/js/skel.min.js"></script>
		<script src="../static/assets/js/util.js"></script>
		<script src="../static/assets/js/main.js"></script>

	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">&#x212DOVID-19</a></div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">HOME</a></li>
					<li><a href="statistics.html">COVID STATS</a></li>
					<li><a href="dashboard.html">TWEET VISUALIZER</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner">
				<div class="inner">
					<h1>COVID Tweet Visualizer</h1>
					<p>A full responsive, project oriented webpage to know the COVID worldwide stats<br/>
						and also visualise the tweets related to lockdown extension #lockdownextension<br/>
					built by <strong>Sivani Voonna</strong> and <strong>V Pawan Kumar Senapati</strong></p>
					<a href="#one" class="button special scrolly">Get Started</a>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="../static/images/pic01.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<h2>covid info</h2>
									<p>COVID Pandemic is not a word to use lightly or carelessly</p>
								</header>
								<hr />
								<p>COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019. COVID-19 is now a pandemic affecting many countries globally.</p>
								<p>The COVID-19 pandemic in India is part of the worldwide pandemic of coronavirus disease 2019 (COVID-19) caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The first case of COVID-19 in India, which originated from China, was reported on 30 January 2020. As of 21 June 2020, the Ministry of Health and Family Welfare (MoHFW) has confirmed a total of 410,461 cases, 227,756 recoveries (including 1 migration) and 13,254 deaths in the country.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<h2><b>OUR WEBPAGE CONTAINS</b></h2>
					<div class="grid-style">
						<div>
							<div class="box">
								<div class="image fit">
									<img src="../static/images/pic02.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>tweet Visualizer</h2>
										<p>Dashboard for sentimental analysis of coronavirus tweets and lockdown extension</p>
									</header>
									<hr />
									<p>In brief , we  have created an user interface that will retrieve the most recent tweets of people from that country and perform sentiment analysis on those tweets and display the results in IBM Cognos Dashboard. The user can know these details from domains like Twitter, Google and ET News by applying filters.</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="../static/images/pic03.jpg" alt="" height="255"/>
								</div>
								<div class="content">
									<header class="align-center">
										<h2>COVID stats</h2>
										<p>Worldwide Statistics Dashboard to visualise the covid19 updates</p>
									</header>
									<hr />
									<p>The statistics dashboard will contain the number of cases confirmed ,numbers of deaths confirmed and people recovered from each state of India and also different countries of the world. The user can know these details for each region by applying filters and these data are visualized using Dashboard.<br></p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
		<!-- Scripts -->
		<div class="footer">
			<a href="#one" class="button special scrolly">Back-to-top</a>
		</div>
	</body>
</html>